<h1>Richiesta di Reso</h1>

<%= form_with(model: @return_request, url: return_requests_path, method: :post) do |f| %>
  <%= hidden_field_tag :ordine_id, @ordine.id %>

  <p><strong>Motivo del reso:</strong></p>
  <%= f.text_area :motivo, required: true %>

  <h3>Seleziona le quantità dei prodotti da restituire:</h3>
  <% @ordine.ordine_items.each do |ordine_item| %>
    <div>
      <label>
        <%= ordine_item.prodotto.nome_prodotto %> - Quantità acquistata: <%= ordine_item.quantity %>
      </label>
      <input type="number" name="return_request[return_items_attributes][][quantita]" 
             min="0" max="<%= ordine_item.quantity %>" 
             class="return-quantity"
             placeholder="0">
      <input type="hidden" name="return_request[return_items_attributes][][prodotto_id]" value="<%= ordine_item.prodotto.id %>">
    </div>
  <% end %>

  <%= f.submit "Invia richiesta di reso" %>
<% end %>