<p id="notice"><%= t_google(notice) %></p>
<h1><%= t('resi.richiesta') %></h1>

<%= form_with(model: @return_request, url: return_requests_path, method: :post) do |f| %>
  <%= hidden_field_tag :ordine_id, @ordine.id %>

  <p><strong><%= t('resi.motivo') %>:</strong></p>
  <%= f.text_area :motivo, required: true %>

  <h3><%= t('resi.numero') %>:</h3>
  <% @ordine.ordine_items.each do |ordine_item| %>
    <div>
      <label>
        <%= t_google(ordine_item.prodotto.nome_prodotto) %> - <%= t('resi.numero_acq') %>: <%= ordine_item.quantity %>
      </label>
  
      <!-- Quantità da restituire -->
      <input type="number" name="return_request[return_items_attributes][][quantita]" 
             min="0" max="<%= ordine_item.quantity %>" 
             class="return-quantity"
             placeholder="0">
  
      <!-- ID del prodotto -->
      <input type="hidden" name="return_request[return_items_attributes][][prodotto_id]" 
             value="<%= ordine_item.prodotto.id %>">
  
      <!-- ID dell'ordine_item (fondamentale!) -->
      <input type="hidden" name="return_request[return_items_attributes][][ordine_item_id]" 
             value="<%= ordine_item.id %>">
    </div>
  <% end %>
  

  <%= f.submit t("resi.invia") %>
<% end %>