<%= stylesheet_link_tag 'app', media: 'all' %>

<%= form_with(model: @acquirente, local: true) do |form| %>
  <% if @acquirente.errors.any? %>
  <div id="error_explanation">
    <h2><%= t("errors.messages.missing_fields") %>:</h2>
    <ul>
      <% @acquirente.errors.attribute_names.uniq.each do |attribute| %>
        <li><%= Acquirente.human_attribute_name(attribute) %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div>
    <%= form.label :nome, t("forms.nome") %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cognome, t("forms.cognome") %>
    <%= form.text_field :cognome %>
  </div>

  <div>
    <%= form.label :nome_utente, t("forms.nome_utente") %>
    <%= form.text_field :nome_utente %>
  </div>

  <div>
    <%= form.label :telefono, t("forms.telefono") %>
    <%= form.text_field :telefono %>
  </div>

  <div>
    <%= form.check_box :privato %>
    <%= form.label :privato, t("forms.privato") %>
  </div>

  <% if @is_new %>
    <div>
      <%= form.label :email, t("forms.email") %>
      <%= form.email_field :email %>
    </div>
  <% end %>

  <div>
    <%= form.label :password, t("forms.password") %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, t("forms.password_confirmation") %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit t("forms.save") %>
    <%= link_to t("forms.cancel"), root_path, class: "btn" %>
  </div>
<% end %>
