<%= form_with(model: @acquirente, local: true) do |form| %>
  <% if @acquirente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acquirente.errors.count, "error") %> impediscono di salvare questo acquirente:</h2>
      <ul>
        <% @acquirente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cognome %>
    <%= form.text_field :cognome %>
  </div>

  <div>
    <%= form.label :nome_utente %>
    <%= form.text_field :nome_utente %>
  </div>

  <div>
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>
  
  <% if @is_new %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <% end %>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Ripeti password" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Salva" %>
    <%= link_to 'Annulla', root_path, class: "btn" %>
  </div>
<% end %>
