#DA CANCELLARE
<p id="notice"><%= notice %></p>

<h1>Acquirentes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acquirentes.each do |acquirente| %>
      <tr>
        <td><%= link_to 'Show', acquirente %></td>
        <td><%= link_to 'Edit', edit_acquirente_path(acquirente) %></td>
        <td><%= link_to 'Destroy', acquirente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acquirente', new_acquirente_path %>
