<p id="notice"><%= notice %></p>


<h1>Profilo Acquirente</h1>

<div class="profile-container">
    <nav class="sidebar">
      <%= link_to 'LISTA DESIDERI', lista_desideri_path, class: 'btn btn-primary' %>
      <%= link_to 'ARCHIVIO ORDINI', archivio_ordini_path, class: 'btn btn-primary' %>
      <%= link_to 'CRONOLOGIA RICERCHE', cronologia_ricerche_path, class: 'btn btn-primary' %>
      <% if @negozio %>
          <%= link_to 'IL TUO NEGOZIO', negozio_path(@negozio), class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'CREA IL TUO NEGOZIO', new_negozio_path, class: 'btn btn-primary' %>
        <% end %>
      
      <button class="sidebar-btn">FAQ</button>
      <button class="sidebar-btn">MESSAGGI</button>
    </nav>

<body>

<p>  <%= @acquirente.nome %> <%= @acquirente.cognome %></p>

<p>  Nome utente: <%= @acquirente.nome_utente %></p>
<p>  Email: <%= @acquirente.email %>    Tel: <%= @acquirente.telefono %></p>

<p><button>Seguiti</button></p>
<p>Punti Fedeltà: 0</p>

</body>

<button>Modifica Profilo</button>

<button>Elimina Profilo</button>
