<h1>Dati Acquirente</h1>

<p><strong>Nome:</strong> <%= @acquirente.nome %></p>
<p><strong>Cognome:</strong> <%= @acquirente.cognome %></p>
<p><strong>Email:</strong> <%= @acquirente.email %></p>
<p><strong>Telefono:</strong> <%= @acquirente.telefono %></p>
<p><strong>Username:</strong> <%= @acquirente.nome_utente %></p>
