<p id="notice"><%= notice %></p>

<h1>Recensiones</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recensiones.each do |recensione| %>
      <tr>
        <td><%= link_to 'Show', recensione %></td>
        <td><%= link_to 'Edit', edit_recensione_path(recensione) %></td>
        <td><%= link_to 'Destroy', recensione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recensione', new_recensione_path %>
