<%= stylesheet_link_tag 'app', media: 'all' %>

<p><%= t_google(notice) %></p>
<h1><%= t('resi.gestione') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('resi.id') %></th>
      <th><%= t('comune.ordine') %></th>
      <th><%= t('resi.cliente') %></th>
      <th><%= t('comune.stato') %></th>
      <th><%= t('comune.azioni') %></th>
    </tr>
  </thead>
  <tbody>
    <% @return_requests.each do |return_request| %>
      <tr>
        <td><%= return_request.id %></td>
        <td><%= link_to t("comune.ordine") + " ##{return_request.ordine.id}", ordine_path(return_request.ordine) %></td>
        <td><%= return_request.acquirente.email %></td>
        <td><%= t_google(return_request.stato) %></td>
        <td>
          <%= link_to t("comune.visualizza"), negozio_return_request_path(return_request), class: "btn btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

