<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1;}
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-content">
            <button class="logo-home">Logo/Home</button>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <%= link_to 'Accedi', new_session_path %>
                    
                </div>
            </div>
        </div>
    </header>
    <nav class="categories">
        <button>GIOIELLI</button>
        <button>BORSE</button>
        <button>CINTURE</button>
        <button>SCARPE</button>
        <button>ABBIGLIAMENTO</button>
        <button>CASA</button>
        <button>Categoria 7</button>
        <button>Categoria 8</button>
    </nav>
    <main>
        <div class="filter-search">
            <button class="filter-btn">Filtra</button>
            <input type="text" placeholder="Cerca">
        </div>
        <div class="promotions">
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="show-promo">Mostra promo</div>
        </div>
        <div class="prodottos">
            <% if @prodottos.present? %>
                <% @prodottos.each do |prodotto| %>
                    <div class="prodotto">
                        <%= link_to prodotto.nome_prodotto, prodotto_path(prodotto), class: "prodotto-link" %>
                        <p><%= prodotto.descrizione %></p>
                    </div>
                <% end %>
            <% else %>
                <p>No products available.</p>
            <% end %>
        </div>
    </main>
</body>
</html>
