<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <div class="header-content">
        <button class="logo-home">Logo/Home</button>
        <div class="menu-icon">&#9776;</div>
        </div>
    </header>
    <nav class="categories">
        <button>GIOIELLI</button>
        <button>BORSE </button>
        <button>CINTURE </button>
        <button>SCARPE </button>
        <button>ABBIGLIAMENTO </button>
        <button>CASA </button>
        <button>Categoria 7</button>
        <button>Categoria 8</button>
    </nav>
    <main>
        <div class="filter-search">
            <button class="filter-btn">Filtra</button>
            <input type="text" placeholder="Cerca">
        </div>
        <div class="promotions">
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="promotion">
                <h2>Nome promozione</h2>
                <p>Descrizione</p>
            </div>
            <div class="show-promo">Mostra promo</div>
        </div>
        <div class="prodottos">
        <% if @prodottos.present? %>
            <% @prodottos.each do |prodotto| %>
                <div class="prodotto">
                    <%= link_to prodotto.nome_prodotto, prodotto_path(prodotto), class: "prodotto-link" %>
                    <p><%= prodotto.descrizione %></p>
            </div>
            <% end %>
        <% else %>
            <p>No products available.</p>
        <% end %>

            <div class="prodotto">
                <h3>Nome prodotto</h3>
                <p>Descrizione</p>
            </div>
            <div class="prodotto">
                <h3>Nome prodotto</h3>
                <p>Descrizione</p>
            </div>
            <div class="prodotto">
                <h3>Nome prodotto</h3>
                <p>Descrizione</p>
   
                </div>
        </div>
    </main>
</body>
</html>
