
<p id="notice"><%= notice %></p>

<h1>Gestione FAQ</h1>

<div class="faq-management">
  <% if @faqs.present? %>
    <% @faqs.each do |faq| %>
      <div class="faq-item">
        <p><%= faq.id %>. <%= faq.domanda %></p>
        <%= faq.risposta %>
        <div class="faq-actions">
          <%= link_to 'Modifica', edit_faq_path(faq), class: 'btn btn-primary' %>
          <%= link_to 'Elimina', faq, method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Nessuna FAQ presente</p>
  <% end %>
  
  <%= link_to 'Aggiungi domanda', new_faq_path, class: 'btn btn-success' %>
</div>

<%= link_to 'Torna al profilo', amministratore_path(@amministratore) %>

