<%= form_with(model: promozione, local: true) do |form| %>
  <% if promozione.errors.any? %>
    <div id="error_explanation">
    <h2><%= t("errors.messages.missing_fields") %>:</h2>      <ul>
    <% promozione.errors.attribute_names.uniq.each do |attribute| %>
      <li><%= Promozione.human_attribute_name(attribute) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, t("forms.nome") %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descrizione, t("forms.descrizione") %>
    <%= form.text_area :descrizione %>
  </div>

  <div class="field">
    <%= form.label :inizio, t("promo.inizio") %>
    <%= form.datetime_select :inizio %>
  </div>

  <div class="field">
    <%= form.label :fine, t("promo.fine") %>
    <%= form.datetime_select :fine %>
  </div>

  <div class="field">
    <%= form.label :sconto, t("promo.sconto") %>
    <%= form.number_field :sconto, step: 0.01 %>
  </div>

  <% if current_user.is_a?(Amministratore) %>
    <div class="field">
      <%= form.label :tipo, t("promo.tipo") %>
      <%= form.select :tipo, options_for_select([[t("promo.sito"), 'intero_sito'], [t("promo.cat"), 'categoria']], selected: promozione.tipo), id: 'promozione_tipo' %>
    </div>

    <div class="field" id="prodotto_field">
      <%= form.label :prodotto_id, t("comune.prodotto") %>
      <%= form.select :prodotto_id, options_for_select([[t("promo.sel_p"), ""]] + translated_prodotti_options) %>    </div>

    <div class="field" id="categoria_field">
      <%= form.label :categorium_id, t("promo.cat") %>
      <%= form.select :categorium_id, options_for_select([[t("promo.sel_c"), ""]] + translated_categorie_options) %>    </div>
  <% elsif current_user.is_a?(Acquirente) && current_user.negozio.present? %>
    <div class="field">
      <%= form.hidden_field :tipo, value: 'singolo_prodotto' %>
      <%= form.label :prodotto_id, t("comune.prodotto") %>
      <%= form.select :prodotto_id, options_for_select([[t("promo.sel_p"), ""]] + translated_negozio_prodotti_options(current_user.negozio)) %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit promozione.persisted? ? t("promo.edit") : t("promo.aggiungi") %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function toggleFields() {
      var tipo = document.getElementById('promozione_tipo').value;
      var prodottoField = document.getElementById('prodotto_field');
      var categoriaField = document.getElementById('categoria_field');

      if (tipo === 'intero_sito') {
        prodottoField.style.display = 'none';
        categoriaField.style.display = 'none';
      } else if (tipo === 'singolo_prodotto') {
        prodottoField.style.display = 'block';
        categoriaField.style.display = 'none';
      } else if (tipo === 'categoria') {
        prodottoField.style.display = 'none';
        categoriaField.style.display = 'block';
      }
    }

    document.getElementById('promozione_tipo').addEventListener('change', toggleFields);
    toggleFields();
  });
</script>