<p id="notice"><%= t_google(notice) %></p>
<h2><%= t('lingua.scegli') %></h2>

<%= form_with url: cambia_lingua_path, method: :post do %>
  <%= select_tag :lingua, options_for_select(@lingue.map { |code, name| [name, code] }, session[:lingua] || "it") %>
  <%= submit_tag t('lingua.cambia') %>
<% end %>
