<p id="notice"><%= notice %></p>

<h1>MESSAGGI</h1>

<div class="profile-container">
  <% @messaggi.each do |messaggio| %>
    <div class="message-item">
      <p>Nome utente: <%= messaggio.nome_utente %></p>
      <p>Tipo utente: <%= messaggio.tipo_utente %></p>
      <p><%= messaggio.contenuto %></p>
      <%= link_to 'Rispondi', class: 'button' %>
      <%= link_to 'Elimina', class: 'button' %>
    </div>
  <% end %>
</div>


