<!DOCTYPE html>
<html>
<head>
  <title>Scrivi al venditore</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <main>
    <section>
      <h1>Scrivi al venditore</h1>
      <%= form_with model: [@negozio, @messaggio], url: negozio_messaggi_negozio_index_path(@negozio), local: true do |form| %>
        <div class="form-group">
          <%= form.label :contenuto, 'Domanda' %>
          <%= form.text_area :contenuto %>
        </div>
        <div class="form-group">
          <%= form.submit 'Invia', class: 'btn btn-primary' %>
          <%= link_to 'Annulla', negozio_path(@negozio), class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </section>
  </main>
</body>
</html>
