<p id="notice"><%= t_google(notice) %></p>
<h2 class="mb-4"><%= t('ordini.negozio') %></h2>

<% if @ordini.any? %>
  <table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th><%= t('ordini.cod') %></th>
        <th><%= t('comune.data') %></th>
        <th><%= t('comune.tot') %></th>
        <th><%= t('comune.stato') %></th>
        <th><%= t('comune.azioni') %></th>
      </tr>
    </thead>
    <tbody>
      <% @ordini.each do |ordine| %>
        <tr>
          <td><%= ordine.codice_ordine %></td>
          <td><%= ordine.created_at.strftime("%d/%m/%Y %H:%M") %></td>

          <td>
            <strong><%= number_to_currency(ordine.totale) %></strong><br>

            <% if ordine.sconto.present? && ordine.sconto > 0 %>
              <small class="text-success">
              <%= t('ordini.sconto') %>: -<%= number_to_currency(ordine.sconto) %>
              </small>
            <% end %>
          </td>

          <td><span class="badge bg-secondary"><%= t_google(ordine.stato.humanize) %></span></td>

          <td>
            <%= link_to t("comune.visualizza"), negozio_ordine_path(@negozio, ordine), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('ordini.no_ord_n') %></p>
<% end %>
