<%= form_with(model: amministratore) do |form| %>
  <% if amministratore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amministratore.errors.count, t("errors.messages.error")) %> <%= t("errors.messages.prevented_save") %></h2>

      <ul>
        <% amministratore.errors.each do |error| %>
          <li><%= t_google(error.full_message) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= t_google(form.submit) %>
  </div>
<% end %>
