<%= stylesheet_link_tag 'app', media: 'all' %>

<p><%= t_google(notice) %></p>
<h1><%= t('comune.mod_prof')%></h1>

<%= form_with(model: @amministratore, local: true) do |form| %>
  <div>
    <%= form.label :nome, t("forms.nome") %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cognome, t("forms.cognome") %>
    <%= form.text_field :cognome %>
  </div>

  <div>
    <%= form.label :telefono, t("forms.telefono") %>
    <%= form.text_field :telefono %>
  </div>

  <div>
    <%= form.label :email, t("forms.email") %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :password, t("forms.password") %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, t("forms.password_confirmation") %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit t("forms.save"), class: "btn btn-primary" %>
    <%= link_to t("forms.cancel"), amministratore_path(@amministratore), class: "btn" %>
  </div>
<% end %>

