<%= stylesheet_link_tag 'app', media: 'all' %>

<p><%= t_google(notice) %></p>

<h1><%= t('amministratore.f_titolo') %></h1>

<% if @feedbacks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('comune.prodotto') %></th>
        <th><%= t('comune.acquirente') %></th>
        <th><%= t('amministratore.f_voto') %></th>
        <th><%= t('comune.nota') %></th>
        <th><%= t('comune.azioni') %></th>
      </tr>
    </thead>
    <tbody>
      <% @feedbacks.each do |feedback| %>
        <tr>
          <td><%= feedback.prodotto.nome_prodotto %></td>
          <td><%= feedback.acquirente&.nome || t('amministratore.f_utente_eliminato') %></td>
          <td><%= feedback.voto %> ★</td>
          <td><%= feedback.nota.presence || t('comune.no_nota') %></td>
          <td>
            <%= button_to t('amministratore.f_elimina'), 
              feedback_path(feedback, redirect_to: gestione_account_path), 
              method: :delete, 
              data: { confirm: t('amministratore.f_conferma') }, 
              class: "btn btn-danger" %>

            <%= button_to t('amministratore.f_ignora'), ignora_segnalazione_feedback_path(feedback), 
              method: :patch, class: "btn btn-secondary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('amministratore.no_feedback') %> </p>
<% end %>
