<p id="notice"><%= notice %></p>


<h1>Profilo Amministratore</h1>

<div class="profile-container">
    <nav class="sidebar">
    <%= link_to 'Gestione Account', gestione_account_path, class: 'btn btn-primary'%>
    <%= link_to 'Statistiche', statistiche_path, class: 'btn btn-primary' %>
    <%= link_to 'gestione feedback', gestione_feedback_path, class: 'btn btn-primary' %>
    <%= link_to 'gestione FAQ', admin_faqs_path, class: 'btn btn-primary' %>
      

     
      <button class="sidebar-btn">PROMOZIONI</button>
      <%= link_to 'MESSAGGI', messaggi_path, class: 'btn btn-primary' %>
    </nav>

<body>

<p>  <%= @amministratore.nome %> <%= @amministratore.cognome %></p>

<p>  ID amministratore: <%= @amministratore.id %></p>
<p>  Email: <%= @amministratore.email %>    Tel: <%= @amministratore.telefono %></p>

</body>

<div>
<%= link_to 'Modifica Profilo', edit_amministratore_path(@amministratore), class: 'btn btn-primary' %>

</div>
