<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <h1 class="mb-4">Profilo Amministratore</h1>
  
  <div class="row">
    <div class="col-md-3">
      <nav class="nav flex-column nav-pills">
        <%= link_to 'Gestione Account', gestione_account_path, class: 'nav-link btn btn-primary mb-2' %>
        <%= link_to 'Statistiche', statistiche_path, class: 'nav-link btn btn-primary mb-2' %>
        <%= link_to 'Gestione Feedback', gestione_feedback_path, class: 'nav-link btn btn-primary mb-2' %>
        <%= link_to 'Gestione FAQ', admin_faqs_path, class: 'nav-link btn btn-primary mb-2' %>
        <%= link_to 'Gestione promozioni', admin_promoziones_path, class: 'nav-link btn btn-primary mb-2' %>
        <p><button class="btn btn-outline-primary">MESSAGGI</button></p>
      </nav>
    </div>
    
    <div class="col-md-9">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Dettagli dell'Amministratore</h5>
          <p class="card-text"><strong>Nome:</strong> <%= @amministratore.nome %> <%= @amministratore.cognome %></p>
          <p class="card-text"><strong>ID Amministratore:</strong> <%= @amministratore.id %></p>
          <p class="card-text"><strong>Email:</strong> <%= @amministratore.email %></p>
          <p class="card-text"><strong>Telefono:</strong> <%= @amministratore.telefono %></p>
        </div>
      </div>
      
      <div class="d-flex">
        <%= link_to 'Modifica Profilo', edit_amministratore_path(@amministratore), class: 'btn btn-warning mr-2' %>
      </div>
    </div>
  </div>
</div>