<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h1 class="text-center">Amministratore</h1>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <nav class="nav flex-column nav-pills">
        <%= link_to 'Gestione Account', gestione_account_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Statistiche', statistiche_amministratore_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Gestione Feedback', admin_feedbacks_segnalati_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Gestione FAQ', admin_faqs_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Gestione Promozioni', admin_promoziones_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Messaggi', chat_rooms_path, class: 'nav-link btn btn-outline-primary mb-2' %>
      </nav>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <!-- Admin Details -->
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Dettagli Amministratore</h5>
          <p class="card-text"><strong>Nome:</strong> <%= @amministratore.nome %> <%= @amministratore.cognome %></p>
          <p class="card-text"><strong>ID Amministratore:</strong> <%= @amministratore.id %></p>
          <p class="card-text"><strong>Email:</strong> <%= @amministratore.email %></p>
          <p class="card-text"><strong>Telefono:</strong> <%= @amministratore.telefono %></p>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <%= link_to 'Modifica Profilo', edit_amministratore_path(@amministratore), class: 'btn btn-warning me-2' %>
      </div>
    </div>
  </div>
</div>
