<%= stylesheet_link_tag 'app', media: 'all' %>

<p><%= t_google(notice) %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h1 class="text-center"><%= t('comune.profilo_amministratore') %></h1>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <nav class="nav flex-column nav-pills">
        <%= link_to t('amministratore.account'), gestione_account_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to t('amministratore.statistiche'), statistiche_amministratore_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to t('amministratore.feedback'), admin_feedbacks_segnalati_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to t('amministratore.gest_faq'), admin_faqs_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to t('amministratore.promo'), admin_promoziones_path, class: 'nav-link btn btn-outline-primary mb-2' %>
      </nav>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <!-- Admin Details -->
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= t('comune.dettagli') %></h5>
          <p class="card-text"><strong><%= t('comune.nome') %></strong> <%= @amministratore.nome %> <%= @amministratore.cognome %></p>
          <p class="card-text"><strong><%= t('amministratore.id') %></strong> <%= @amministratore.id %></p>
          <p class="card-text"><strong><%= t('sessions.email') %>:</strong> <%= @amministratore.email %></p>
          <p class="card-text"><strong><%= t('comune.telefono') %></strong> <%= @amministratore.telefono %></p>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <%= link_to t('comune.mod_prof'), edit_amministratore_path(@amministratore), class: 'btn btn-warning me-2' %>
      </div>
    </div>
  </div>
</div>
