<%= stylesheet_link_tag 'app', media: 'all' %>

<p><%= t_google(notice) %></p>

<div class="admin-stats-container">

  <h1 class="admin-stats-title"><%= t('amministratore.s_titolo') %></h1>

  <div class="admin-card">
    <h2 class="admin-card-title"><%= t('amministratore.s_utenti') %></h2>
    <ul class="admin-list">
      <li><%= t('amministratore.s_acq_tot') %> <%= @acquirenti_totali %></li>
      <li><%= t('amministratore.s_vend_tot') %> <%= @venditori_totali %></li>
      <li><%= t('amministratore.s_acq_mese') %> <%= @acquirenti_corrente_mese %></li>
      <li><%= t('amministratore.s_vend_mese') %> <%= @venditori_corrente_mese %></li>
      <li><%= t('amministratore.s_acq_anno') %> <%= @acquirenti_corrente_anno %></li>
      <li><%= t('amministratore.s_vend_anno') %> <%= @venditori_corrente_anno %></li>
    </ul>
  </div>

  <div class="admin-card">
    <h2 class="admin-card-title"><%= t('amministratore.s_ord_ven') %></h2>
    <ul class="admin-list">
      <li><%= t('amministratore.s_ven_tot') %> <%= @vendite_totali %></li>
      <li><%= t('amministratore.s_med_acq') %> <%= number_with_precision(@media_acquisti_per_acquirente, precision: 2) %></li>
      <li><%= t('amministratore.s_med_art') %> <%= number_with_precision(@media_articoli_per_ordine, precision: 2) %></li>
    </ul>
  </div>

  <div class="admin-card">
    <h2 class="admin-card-title"><%= t('amministratore.s_acq') %></h2>
    <ul class="admin-list">
      <li><%= t('amministratore.s_acq1') %> <%= @rapporto_acquirenti_0_vs_1plus[:con_ordini] %></li>
      <li><%= t('amministratore.s_acq0') %> <%= @rapporto_acquirenti_0_vs_1plus[:senza_ordini] %></li>
      <li><%= t('amministratore.s_med_spesa') %> <%= number_to_currency(@media_spesa_per_acquirente) %></li>
    </ul>
  </div>

  <div class="admin-card">
    <h2 class="admin-card-title"><%= t('amministratore.s_vend') %></h2>
    <ul class="admin-list">
      <li><%= t('amministratore.s_med_prod') %> <%= number_with_precision(@media_prodotti_per_venditore, precision: 2) %></li>
      <li><%= t('amministratore.s_med_guadagno') %> <%= number_to_currency(@media_guadagno_per_venditore) %></li>
    </ul>
  </div>

</div>
