<%= stylesheet_link_tag 'app', media: 'all' %>


<%= form_with(model: @negozio, local: true) do |form| %>
  <% if @negozio.errors.any? %>
    <div class="alert alert-danger border border-danger shadow-sm rounded p-3 mb-4">
    <h4 class="alert-heading"><%= t("errors.messages.missing_fields") %>:</h4>
    <ul class="mb-0">
        <% @negozio.errors.attribute_names.uniq.each do |attribute| %>
          <li><%= Negozio.human_attribute_name(attribute) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, t("negozio.nome") %>
    <%= form.text_field :nome_negozio %>
  </div>

  <div class="field">
    <%= form.label :descrizione, t("forms.descrizione") %>
    <%= form.text_area :descrizione %>
  </div>

  <div class="field">
    <%= form.label :indirizzo, t("negozio.indirizzo") %>
    <%= form.text_field :indirizzo %>
  </div>

  <div class="field">
    <%= form.label :telefono, t("forms.telefono") %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field mb-4">
      <%= form.label :immagine, t("negozio.immagine") %>
      <%= form.file_field :immagine, class: "form-control" %>
    </div>

  <div class="actions">
   <%= form.submit negozio.persisted? ? t("negozio.aggiorna") : t("negozio.new") %>
  </div>
<% end %>
</div>