<%= stylesheet_link_tag 'app', media: 'all' %>

<p><%= t_google(notice) %></p>
<h1><%= t('negozio.edit') =%></h1>

<%= render 'form', negozio: @negozio %>

<%= link_to t('forms.cancel'), @negozio %> 



