<%= stylesheet_link_tag 'app', media: 'all' %>

<p id="notice"><%= t_google(notice) %></p>
<h1><%= t('negozio.feedback') =%> - <%= @negozio.nome_negozio %></h1>

<% if @prodottos.empty? %>
  <p><%= t('negozio.no_prodotti') =%></p>
<% else %>
  <% @prodottos.each do |prodotto| %>
    <div class="card mb-4">
      <h2><%= t_google(prodotto.nome_prodotto) %></h2>

      <% if prodotto.feedbacks.any? %>
        <ul>
          <% prodotto.feedbacks.each do |feedback| %>
            <li>
              <strong><%= t('negozio.voto_f') =%>:</strong> <%= '★' * feedback.voto + '☆' * (5 - feedback.voto) %><br>
              <% if feedback.nota.present? %>
                <strong><%= t('comune.nota') =%>:</strong> <%= t_google(feedback.nota) %><br>
              <% end %>
              <em><%= t('comune.da') =%>: <%= feedback.acquirente&.nome || t("negozio.no_utente_f") %> | <%= t('comune.data') =%>: <%= feedback.created_at.strftime("%d/%m/%Y") %></em>

            </li>
            <% unless feedback.segnalato %>
                <%= button_to t("gest.segnala"), segnala_feedback_path(feedback), method: :patch, class: "btn btn-warning btn-sm", data: { confirm: "Sei sicuro di voler segnalare questo feedback?" } %>
            <% else %>
                <span class="badge bg-danger"><%= t("gest.segnala") =%></span>
            <% end %>

          <% end %>
        </ul>
      <% else %>
        <p><%= t('prodotto.no_feedback') =%></p>
      <% end %>
    </div>
  <% end %>
<% end %>
