<%= stylesheet_link_tag 'app', media: 'all' %>

<h1><%= t('segn_n.titolo') =%> "<%= @negozio.nome_negozio %>"</h1>

<%= form_with url: segnala_negozio_path(@negozio), method: :post, local: true do |form| %>
  <div>
    <%= form.label :motivo, t("segn_n.motivo") %><br>
    <%= form.select :motivo, [t("segn_n.m1"), t("segn_n.m2"), t("segn_n.m3"), t("segn_n.altro")], prompt: t("segn_n.sel"), required: true %>
  </div>

  <div>
    <%= form.label :note, t("segn_n.note") %><br>
    <%= form.text_area :note, rows: 4, placeholder: t("segn_n.spiega") %>
  </div>

  <div>
    <%= form.submit t("segn_n.invia"), class: "btn btn-danger" %>
    <%= link_to t("comune.annulla"), negozio_path(@negozio), class: "btn btn-secondary" %>
  </div>
<% end %>
