<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <h1 class="text-center">Negozio</h1>
    </div>
  </div>

  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <nav class="nav flex-column nav-pills">
        <%= link_to 'Statistiche', statistiche_negozio_path(@negozio), class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Promozioni', negozio_promoziones_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Aggiungi Prodotto', new_negozio_prodotto_path(@negozio), class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Messaggi', chat_rooms_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Gestione Resi', negozio_return_requests_path, class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Recensioni', feedbacks_negozio_path(current_user.negozio), class: 'nav-link btn btn-outline-primary mb-2' %>
        <%= link_to 'Ordini Ricevuti', negozio_ordini_path(@negozio), class: 'nav-link btn btn-outline-primary mb-2' %>

      </nav>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <!-- Store Details -->
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Dettagli Negozio</h5>
          <p class="card-text"><strong>Nome Negozio:</strong> <%= @negozio.nome_negozio %></p>
          <p class="card-text"><strong>Email:</strong> <%= @acquirente.email %></p>
          <p class="card-text"><strong>Telefono:</strong> <%= @negozio.telefono %></p>
          <p class="card-text"><strong>Proprietario:</strong> <%= @negozio.acquirente.nome_utente %></p>
          <p class="card-text">
          <%= link_to 'Seguaci', seguaci_negozio_path(@negozio), class: "btn btn-outline-primary" %>

          </p>
        </div>
      </div>

      <!-- Store Products -->
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Prodotti</h5>
          <% if @negozio.prodottos.present? %>
            <ul class="list-group list-group-flush">
              <% @negozio.prodottos.each do |prodotto| %>
                <li class="list-group-item">
                  <%= link_to prodotto.nome_prodotto, prodotto_path(prodotto), class: 'text-decoration-none' %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="card-text">Nessun prodotto disponibile.</p>
          <% end %>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <%= link_to 'Modifica Profilo', edit_negozio_path(@negozio), class: 'btn btn-warning me-2' %>
        <%= button_to 'Elimina Profilo', negozio_path(@negozio), method: :delete, data: { turbo: false, confirm: 'Sei sicuro di voler eliminare il profilo?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
