<p id="notice"><%= notice %></p>

<h1>NEGOZIO</h1>

<div class="profile-container">
    <nav class="sidebar">
      <button class="sidebar-btn">RECENSIONI</button>
      <button class="sidebar-btn">STATISTICHE</button>
      <button class="sidebar-btn">PROMOZIONI</button>
      <%= link_to 'Aggiungi Prodotto', new_negozio_prodotto_path(@negozio), class: 'btn btn-primary' %>
      <button class="sidebar-btn">MESSAGGI</button>
      <button class="sidebar-btn">GESTIONE RESI</button>
    </nav>

<body>

<p>  nome negozio: <%= @negozio.nome_negozio %></p>


<p>  Email: <%= @acquirente.email %>    Tel: <%= @negozio.telefono %></p>

<p><strong>Proprietario:</strong> <%= @negozio.acquirente.nome_utente %></p>

<p><button>Seguiti</button></p>


</body>

<div class="prodottos">
            <% if @negozio.prodottos.present? %>
                <% @negozio.prodottos.each do |prodotto| %>
                    <p><%= link_to prodotto.nome_prodotto, prodottos_path(prodotto) %></p>
                <% end %>
            <% else %>
                <p>No products available.</p>
            <% end %>
        </div>

<button>Modifica Profilo</button>

<button>Elimina Profilo</button>
