<p id="notice"><%= t_google(notice) %></p>
<div class="statistiche-container">
  <h2><%= t('stat_n.gen') =%></h2>
  <ul>
    <li><%= t('stat_n.tot') =%>: <%= @totale_vendite %></li>
    <li><%= t('stat_n.guad_mese') =%>: €<%= number_with_precision(@guadagni_ultimo_mese, precision: 2) %></li>
    <li><%= t('stat_n.guad_anno') =%>: €<%= number_with_precision(@guadagni_ultimo_anno, precision: 2) %></li>
    <li><%= t('stat_n.prod_vendita') =%>: <%= @prodotti_in_vendita %></li>
    <li><%= t('stat_n.prezzo_medio') =%>: €<%= number_with_precision(@media_prezzo, precision: 2) %></li>
  </ul>

  <h2><%= t('stat_n.prod') =%></h2>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('stat_n.nome') =%></th>
        <th><%= t('stat_n.vend') =%></th>
        <th><%= t('stat_n.disp') =%></th>
        <th><%= t('stat_n.vend_mese') =%></th>
        <th><%= t('stat_n.vend_anno') =%></th>
      </tr>
    </thead>
    <tbody>
      <% @statistiche_per_prodotto.each do |stat| %>
        <tr>
          <td><%= t_google(stat[:prodotto].nome_prodotto) %></td>
          <td><%= stat[:venduti] %></td>
          <td><%= stat[:disponibili] %></td>
          <td><%= stat[:venduti_ultimo_mese] %></td>
          <td><%= stat[:venduti_ultimo_anno] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
