<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <main>
    <section>
      <% if @negozio.present? %>
        <h1><%= @negozio.nome_negozio %></h1>
        <p>Descrizione: <%= @negozio.descrizione %></p>
        <% if @negozio.immagine.attached? %>
        <div class="mb-3">
          <%= image_tag @negozio.immagine.variant(resize_to_limit: [300, 300]), class: "img-fluid rounded" %>
        </div>
      <% end %>
        <p>Indirizzo: <%= @negozio.indirizzo %></p>
        <p>Telefono: <%= @negozio.telefono %></p>
        <%= button_to "Segnala", segnala_form_negozio_path(@negozio), method: :get, class: "btn btn-danger" %>
        <p>Followers: <%= @negozio.followers.count %></p>
        <% if current_user.is_a?(Acquirente) %>
        <% if current_user.follows.exists?(negozio: @negozio) %>
        <%= button_to "Non seguire", negozio_unfollow_path(@negozio), method: :delete, class: "btn btn-warning" %>
      <% else %>
        <%= button_to "Segui", negozio_follow_path(@negozio), method: :post, class: "btn btn-primary" %>
      <% end %>
      
        <% end %>

      <% else %>
        <p>Il negozio non è stato trovato.</p>
      <% end %>
    </section>

    <section>
      <% if @negozio&.acquirente.present? %>
        <div class="owner-details">
          <p>Nome utente: <%= @negozio.acquirente.nome_utente %></p>
        </div>
      <% else %>
        <p>Informazioni sul proprietario non disponibili.</p>
      <% end %>
    </section>

    <%= button_to "Scrivici", start_chat_rooms_path(destinatario_id: @negozio.id, destinatario_type: "Negozio"), method: :post %>


    <section class="products">
      <% if @negozio&.prodottos.present? %>
        <% @negozio.prodottos.each do |prodotto| %>
          <div class="product">
            <p>Nome prodotto: <%= prodotto.nome_prodotto %></p>
            <p>Descrizione: <%= prodotto.descrizione %></p>
          </div>
        <% end %>
      <% else %>
        <p>Non ci sono prodotti disponibili.</p>
      <% end %>
    </section>
  </main>
</body>
</html>
