<%= stylesheet_link_tag 'app', media: 'all' %>

<p id="notice"><%= t_google(notice) %></p>
<h2><%= t('pw_reset.recupero') %></h2>

<%= form_with url: password_resets_path, local: true do |form| %>
  <div>
    <%= form.label :email, t('sessions.email') %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.submit t('pw_reset.istruzioni') %>
  </div>
<% end %>
