<h1 class="mb-4">I tuoi ordini</h1>

<% if @ordini.any? %>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Codice Ordine</th>
        <th>Data</th>
        <th>Totale</th>
        <th>Stato</th>
        <th>Indirizzo</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <% @ordini.each do |ordine| %>
        <tr>
          <td><%= ordine.codice_ordine %></td>
          <td><%= ordine.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td><%= number_to_currency(ordine.totale) %></td>
          
          <td><%= ordine.stato.humanize %></td>
          <td><%= ordine.indirizzo %></td>
          <td><%= link_to "Dettagli", ordine_path(ordine), class: "btn btn-sm btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Non hai ancora effettuato ordini.</p>
<% end %>
