<p id="notice"><%= t_google(notice) %></p>
<h2 class="mb-4"><%= t('ordini.riepilogo') %></h2>

<h4><%= t('ordini.cod') %>: <%= @ordine.codice_ordine || t("ordini.cod_g") %></h4>

<table class="table table-bordered table-striped align-middle mt-3">
  <thead class="table-dark">
    <tr>
      <th><%= t('comune.prodotto') %></th>
      <th><%= t('comune.quantita') %></th>
      <th><%= t('comune.prezzo_or') %></th>
      <th><%= t('comune.prezzo_sc') %></th>
      <th><%= t('comune.tot') %></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.carrello.carrello_items.each do |item| %>
      <tr>
        <td><%= t_google(item.prodotto.nome_prodotto) %></td>
        <td><%= item.quantity %></td>

        <td>
          <% if item.prodotto.prezzo > item.prezzo_unitario %>
            <span class="text-muted" style="text-decoration: line-through;">
              <%= number_to_currency(item.prodotto.prezzo) %>
            </span>
          <% else %>
            <%= number_to_currency(item.prodotto.prezzo) %>
          <% end %>
        </td>

        <td>
          <% if item.prezzo_unitario < item.prodotto.prezzo %>
            <strong class="text-success"><%= number_to_currency(item.prezzo_unitario) %></strong><br>
            <small class="text-info"><%= t('carrello.sconto_pr') %></small>
          <% else %>
            <%= number_to_currency(item.prezzo_unitario) %>
          <% end %>
        </td>

        <td><%= number_to_currency(item.totale) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% totale_carrello = current_user.carrello.carrello_items.sum(&:totale) %>

<div class="mt-3">
  <p><strong><%= t('comune.tot') %>:</strong> <%= number_to_currency(totale_carrello) %></p>

  <% if current_user.punti_fedelta >= 100 %>
    <% sconto_fedelta = (totale_carrello * 0.10).round(2) %>
    <p class="text-success">
    <%= t('carrello.sconto_f') %> -<%= number_to_currency(sconto_fedelta) %> ('ordini.nota_sc')
    </p>
    <p><strong><%= t('carrello.tot_sc') %> </strong> <%= number_to_currency(totale_carrello - sconto_fedelta) %></p>
  <% else %>
    <p class="text-muted">
      <%= t('carrello.pf1') %> <strong><%= current_user.punti_fedelta %> <%= t('carrello.pf2') %></strong>. <%= t('carrello.pf3') %> <strong>100</strong> <%= t('carrello.pf4') %>.
    </p>
  <% end %>
</div>

<hr>

<%= form_with model: @ordine, url: ordini_path, method: :post, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :indirizzo, t("ordini.spedizione") %>
    <%= f.text_field :indirizzo, class: "form-control", required: true %>
  </div>

  <%= f.submit t('carrello.paga'), class: "btn btn-success" %>
<% end %>
