<h2>Dettaglio Ordine: <%= @ordine.codice_ordine %></h2>

<p><strong>Data:</strong> <%= @ordine.created_at.strftime("%d/%m/%Y %H:%M") %></p>
<p><strong>Totale:</strong> €<%= @ordine.totale %></p>
<p><strong>Stato:</strong> <%= @ordine.stato.capitalize %></p>
<p><strong>Indirizzo:</strong> <%= @ordine.indirizzo %></p>

<h3>Prodotti nell'ordine:</h3>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantità</th>
      <th>Prezzo</th>
      <th>Totale</th>
    </tr>
  </thead>
  <tbody>
    <% @ordine.ordine_items.each do |item|  %>
      <tr>
      <td><%= item.prodotto.nome_prodotto %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.prezzo) %></td>
      <td><%= number_to_currency(item.totale) %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<p><strong>Totale Ordine:</strong> <%= number_to_currency(@ordine.totale) %></p>
<% if @ordine.stato == 'completato' %>
  <%= link_to 'Richiedi Reso',  return_requests_new_path(ordine_id: @ordine.id), class: 'btn btn-danger' %>
<% end %>
<% if @ordine.stato == "in_attesa" %>
  <%= button_to "Procedi al Pagamento", pagamento_ordine_path(@ordine), method: :post, class: "btn btn-primary" %>
<% end %>