<h1><%= t('feedback.lascia') %> - <%= t_google(@prodotto.nome_prodotto) %></h1>

<%= form_with model: @feedback, url: feedbacks_path do |f| %>
  <%= hidden_field_tag "feedback[ordine_item_id]", @ordine_item.id %>

  <div>
    <%= label_tag :voto, t("feedback.voto") %>
    <%= f.select :voto, options_for_select((1..5).to_a), {}, class: "form-control" %>
  </div>

  <div>
    <%= f.label :nota, t("feedback.nota") %>
    <%= f.text_area :nota, rows: 4, class: "form-control" %>
  </div>

  <%= f.submit t('feedback.invia'), class: "btn btn-primary" %>
<% end %>
