<%= stylesheet_link_tag 'app', media: 'all' %>

<div class="container mt-5">
  <div class="row">
    <% @prodottos.each do |prodotto| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <% if prodotto.immagini.attached? %>
            <%= image_tag url_for(prodotto.immagini.first), class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to t_google(prodotto.nome_prodotto), prodotto_path(prodotto), class: "text-decoration-none" %></h5>
            <p class="card-text"><%= truncate(t_google(prodotto.descrizione), length: 100) %></p>
            <%= link_to t('comune.dett'), prodotto_path(prodotto), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
