<main class="main-wrapper">
  <div class="prodotto-content">
    <div class="prodotto-gallery">
    <h1><%= t_goole(@prodotto.nome_prodotto) %></h1>     
     <% if @prodotto.immagini.attached? %>
        <%= image_tag url_for(@prodotto.immagini.first), class: "main-image" %>
      <% else %>
        <div class="empty-image-placeholder">Nessuna immagine disponibile</div>
      <% end %>
      <div class="carousel-controls">
        <button id="prevBtn">‹</button>
        <button id="nextBtn">›</button>
      </div>
      <% if logged_in? && current_user == @prodotto.negozio.acquirente %>
        <div class="image-actions">
          <%= link_to "Modifica", edit_prodotto_path(@prodotto), class: "btn-sm btn-warning" %>
          <%= link_to "Elimina", prodotto_path(@prodotto), method: :delete, data: { confirm: "Sei sicuro?" }, class: "btn-sm btn-danger" %>
        </div>
      <% end %>
    </div>

    <div class="prodotto-details">
     <p><strong>Descrizione</strong><br><%= @prodotto.descrizione %></p>
     <%= link_to 'Visualizza Negozio', visualizza_negozio_path(@prodotto.negozio), class: 'store-button' %>
      <p><strong>Prezzo:</strong> <%= number_to_currency(@prodotto.prezzo) %></p>
      <% if @prezzo_scontato && @prezzo_scontato < @prodotto.prezzo %>
        <p><del><%= number_to_currency(@prodotto.prezzo) %></del> <strong><%= number_to_currency(@prezzo_scontato) %></strong></p>
      <% end %>

      <%= form_with url: carrello_items_path, method: :post do %>
        <%= hidden_field_tag :prodotto_id, @prodotto.id %>
        <label>Quantità</label>
        <%= number_field_tag :quantity, 1, min: 1, max: @prodotto.quantita_disponibile, class: "input-select" %>
        <%= submit_tag "Aggiungi al carrello", class: "btn-black full-width" %>
        <%= hidden_field_tag :redirect_back, request.original_url %>

        <%= submit_tag '❤', class: 'heart-button', id: 'wishlist-button' %>
      <% end %>
    </div>
  </div>

  <div class="recensioni">
  <h3>Recensioni</h3>
  <% @feedbacks.each do |feedback| %>
    <div class="feedback">
      <p><strong><%= t_goole(feedback.acquirente.nome_completo) %></strong></p>
      <p><%= '★' * feedback.voto + '☆' * (5 - feedback.voto) %></p>
      <p><%= feedback.nota %></p>
    </div>
  <% end %>
</div>
</main>