<!DOCTYPE html>
<html>
<head>
    <title>Visualizzazione Prodotto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <main>
        <h1><%= @prodotto.nome_prodotto %></h1>
        <div class="prodotto-container">
        <% if @prodotto.immagini.attached? %>
  <div class="image-gallery">
    <% @prodotto.immagini.each do |img| %>
      <%= image_tag url_for(img), width: 500, height: 500 %>
    <% end %>
  </div>
<% else %>
  <p>Nessuna immagine disponibile</p>
<% end %>

            <button class="arrow left">‹</button>
            <button class="arrow right">›</button>
            <div class="image-pagination">.....</div>
        </div>
        <div class="prodotto-details">
            <div class="prodotto-description">
                <h2>Descrizione</h2>
                <p><%= @prodotto.descrizione %></p>
                <p>Categoria: <%= @prodotto.categorium.nome %></p> <!-- Mostra il nome della categoria -->
                <%= link_to 'Visualizza Negozio', visualizza_negozio_path(@prodotto.negozio), class: 'store-button' %>
                <% if @prezzo_scontato && @prezzo_scontato < @prodotto.prezzo %>
                <p>Prezzo:
                  <span style="text-decoration: line-through;"><%= number_to_currency(@prodotto.prezzo) %></span>
                  <strong><%= number_to_currency(@prezzo_scontato) %></strong>
                </p>
                <% else %>
                <p>Prezzo: <%= number_to_currency(@prodotto.prezzo) %></p>
                <% end %>
            </div>

            <% if logged_in? && current_user.is_a?(Acquirente) %>
              <div class="prodotto-options">
                <%= form_with url: carrello_items_path, method: :post do %>
                  <%= hidden_field_tag :prodotto_id, @prodotto.id %>
                  <div>
                    <%= label_tag :quantity, "Quantità:" %>
                    <%= number_field_tag :quantity, 1, min: 1 %>
                  </div>
                  <%= submit_tag "Aggiungi al carrello", class: "btn btn-primary" %>
                <% end %>
              </div>
            <% end %>
            
            <!-- Mostra il pulsante a forma di cuore solo agli utenti che non sono amministratori -->
            <% if unauthenticated_user? || session[:role] == 'acquirente' %>
              <div class="wishlist-button">
                <%= form_with url: add_to_wishlist_path(@prodotto), method: :post do %>
                  <%= hidden_field_tag :redirect_back, request.original_url %>
                  <%= submit_tag '❤', class: 'heart-button', id: 'wishlist-button' %>
                <% end %>
              </div>
            <% end %>
        </div>

        <% if logged_in? && current_user == @prodotto.negozio.acquirente %>
        <%= link_to "Elimina Prodotto", prodotto_path(@prodotto), method: :delete, data: { confirm: "Sei sicuro di voler eliminare questo prodotto?" }, class: "btn btn-danger" %>
        <% end %>



        <div class="recensioni">
          <h3>Recensioni</h3>
            <% @feedbacks.each do |feedback| %>
        <div class="feedback">
          <p><strong><%= feedback.acquirente.nome_completo %></strong></p>
          <p><%= '★' * feedback.voto + '☆' * (5 - feedback.voto) %></p>
          <p><%= feedback.nota %></p>
        </div>
          <% end %>
        </div>

    </main>
</body>
</html>
