<%= stylesheet_link_tag 'app', media: 'all' %>

<p><%= t_google(notice) %></p>
<div class="page-wrapper lista-desideri">
  <h2><%= t('acquirente.desideri') %></h2>
  <% if @wishlist.present? %>
    <% @wishlist.each do |prodotto| %>
      <div class="prodotto">
        <h3><%= link_to t_google(prodotto.nome_prodotto), prodotto_path(prodotto), class: "prodotto-link" %></h3>
        <div class="prodotto-dettagli">
          <div class="descrizione">
            <p><%= t_google(prodotto.descrizione) %></p>
            <p>Prezzo: <%= number_to_currency(prodotto.prezzo) %></p>
          </div>
          <div class="elimina">
            <%= form_with(url: remove_from_wishlist_path(prodotto), method: :delete, local: true) do %>
              <%= submit_tag t('comune.elimina'), class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p><%= t('lista_d.vuota') %></p>
  <% end %>
</div>
