<!DOCTYPE html>
<html>
<head>
  <title>Lista Desideri</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="lista-desideri">
    <h2>Lista Desideri</h2>
    <% if @wishlist.present? %>
      <% @wishlist.each do |prodotto| %>
        <div class="prodotto">
          <h3><%= link_to prodotto.nome_prodotto, prodotto_path(prodotto), class: "prodotto-link" %></h3>
          <div class="prodotto-dettagli">
            <div class="descrizione">
              <p><%= prodotto.descrizione %></p>
              <p>Prezzo: <%= number_to_currency(prodotto.prezzo) %></p>
            </div>
            <div class="rating">
              <p>★★★★★</p>
            </div>
            <div class="elimina">
              <%= button_to 'Elimina', '#', method: :delete, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>La tua lista desideri è vuota.</p>
    <% end %>
  </div>
</body>
</html>
